<!-- Start Footer bottom Area -->
<footer>
    <div class="footer-area">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-content">
              <div class="footer-head"></div>
                <div class="footer-logo">
                  <h2><span>e</span>KHETI</h2>
                </div>

                <p>Grow your crop with the help of eKHETI and earn maximum amount of benefit for yourself and for us.</p>
                <div class="footer-icons">
                  <ul>
                    <li>
                      <a target="_blank" href="https://github.com/theallknowng/eKheti"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                      <a target="_blank" href="https://github.com/theallknowng/eKheti"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                      <a target="_blank" href="https://github.com/theallknowng/eKheti"><i class="fa fa-github"></i></a>
                    </li>
                    <li>
                      <a target="_blank" href="https://github.com/theallknowng/eKheti"><i class="fa fa-pinterest"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- end single footer -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
                <h4>information</h4>
                <p>
                  Three students of Don Bosco Institute of technology
                </p>
                <div class="footer-contacts">
                  <p><span>Tel:</span> +123 456 789</p>
                  <p><span>Email:</span> contact@example.com</p>
                  <p><span>Working Hours:</span> 9am-5pm</p>
                </div>
              </div>
            </div>
          </div>
          <!-- end single footer -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
                <h4>Github</h4>
                <div class="flicker-img">
                  <a href="#"><img src="images/portfolio/01.jpg" alt=""></a>
                  <a href="#"><img src="images/portfolio/02.jpg" alt=""></a>
                  <a href="#"><img src="images/portfolio/03.jpg" alt=""></a>
                  <a href="#"><img src="images/portfolio/0.jpg" alt=""></a>
                  <a href="#"><img src="images/portfolio/1.jpg" alt=""></a>
                  <a href="#"><img src="images/portfolio/6.jpg" alt=""></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </footer>