<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Lifecycle Grapes</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/nivo-slider/css/nivo-slider.css" rel="stylesheet">
  <link href="lib/owlcarousel/owl.carousel.css" rel="stylesheet">
  <link href="lib/owlcarousel/owl.transitions.css" rel="stylesheet">
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/venobox/venobox.css" rel="stylesheet">

  <!-- Nivo Slider Theme -->
  <link href="stylesheets/nivo-slider-theme.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <!-- <link href="css/style.css" rel="stylesheet"> -->

  <!--lifecycle ka links-->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="stylesheets/lifecycle.css" rel="stylesheet">

  <!-- Responsive Stylesheet File -->
  <link href="stylesheets/responsive.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: eBusiness
    Theme URL: https://bootstrapmade.com/ebusiness-bootstrap-corporate-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body data-spy="scroll" data-target="#navbar-example">

    <div>
        <%- include('nav'); %>
        </div>

 



<!--Lifecycle of that crop -->
<div class="container">
  <div class="page-header" style="padding-top: 5%">
    
      <h1 id="timeline">GRAPES </h1>
      <a href="https://www.indiaagronet.com/horticulture/CONTENTS/grapes.HTM"> Click here for source</a>
      <br> <br>
      <p>The grape is the most important crop grown in the world. Mostly it grown for making wines and 
        preparation of raisin and then as a table fresh fruit. While in India, it is mainly grown for 
        table use. Grape cultivation is believed to have originated near Caspian Sea, however, Indians 
        know grapes since Roman times. Total area under grapes in India is about 40,000 ha, distributed 
        mainly in Maharashtra, Karnataka, Andhra Pradesh and Tamil Nadu.
  </div>
  <ul class="timeline">

    <li >
      <div class="timeline-badge success"><i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Climate and Soil :         </h4>
        </div>
        <div class="timeline-body">
          <p> <strong>Climate  :</strong>
            The ideal climate for grape growing is the Mediterranean climate. In its natural habitat, 
            the vines grow and produce during the hot and dry period. Under South Indian conditions – 
            vines produce vegetative growth during the period from April to September and then fruiting
             period from October to March. Temperatures above 100C to 400C influence the yield and 
             quality. High humidity and cloudy weather invite many fungal diseases, besides lowering the
              T.S.S. : Acid ratio.

            <p> <strong>Soil</strong>
              The grape is widely adopted to various soil conditions, but the yield and quality reach to
               the highest on good fertile soils have pH 6.5 to 8.5, organic carbon above 1.0%, free of lime 
               and having a medium water holding capacity. Early but medium yields with high T.S.S. are 
               harvested on medium type of soils.
            </p> 
          </div>
      </div>
    </li>

      <li class="timeline-inverted">
        <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title"> Planting and Season:</h4>
            <!-- <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p> -->
          </div>
          <div class="timeline-body">
            <p> Usually planting is done from October onwards till January. Rarely planting is also done
               during June-July where the monsoon is late. Monsoon planting is avoided mainly for avoiding 
               diseases on young growth. For planting N-S direction the trenches are opened. The size of 
               trench may be 60 to 75 cm. Deep wide. Then these trenches are filled with FYM, organic manures,
                5:10:5 organic mixtures, single super phosphates, biofertilisers, neem cakes, etc. Spacing for 
                planting is maintained depending on soil type, variety and method of training. The distance 
                between two rows may be 2 to 3 m while distance between vines within a row will be half of that, 
                accommodating vines from 2000 to 5000 per hectare.
            </div>
        </div>
      </li>

      <li >
        <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">  Special Horticultural practices </h4>
          </div>
          <div class="timeline-body">
            <p> <strong> Pruning and training: </strong>
              The vines are trained on a suitable trellis i.e. ‘T’, ‘Y’, ‘H’ or bower and regularly 
              pruned twice in a year. First annual pruning is done during the month of April to get the 
              new vegetative growth while second pruning to get the crop is done during the month of 
              October. While doing April pruning 0 to 2 buds on arm are kept while doing October pruning 
              5 to 10 buds on fruiting cane are kept.
            <p> <strong>Girdling: </strong>
              Vines are trunk girdled at bloom period to increase the fruit set, to increase the weight and
                 T.S.S. and also to enhance maturity.
            </p>
            </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title"> Irrigation:</h4>
          </div>
          <div class="timeline-body">
            <p>Grape is strictly irrigated perennial crop and regularly irrigated. For flood irrigation,
               5-7 days during summer 8-10 days during winter and 15-20 days during rainy season – 
               interval is maintained while for drip irrigation, 40-50 L; 30-40, 20-30 L of water per day
                per vine, water is applied.</div>
        </div>
      </li>
      
      <li >
        <div class="timeline-badge success"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title"> Plant protection:</h4>
          </div>
          <div class="timeline-body">
            <p>Grape shoots, leaves, blossoms and berries are attacked by many fungi and insect pests, 
              besides some nematodes are also cause damage to roots.
              <ul style="font-size: 17px; " type = "disc" >
                <li > Major fungal diseases – Anthracnose, Powdery mildew, Downy mildew,
                  Dead arm, Botraytis and Botrodiplodia.</li>
                  <li>Major bacterial diseases –Xyantomonas, blight.</li>
                  <li>Viral diseases – Fan leaf disease</li>
                  <li>Major Insect pests – Flea beetle, Mealy bug, Red mite, Thrips, caterpillars.</li>
                  <li>Soil born pests – Nematodes, phyloxere, white ants, and white grub.</li>
              </ul>
            <br>  
            <p> <strong>Control measures:</strong> A number of systemic and contact fungicides and pesticides are available and are to be used as per following local schedule.</p>
          </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-badge info"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Harvesting and yields: </h4>
          </div>
          <div class="timeline-body">
            <p>
              Normal grape harvest season starts in February and continuous up to end of April. Well 
              matured bunches having at least 180 Brix are harvested
<p>Av. yields - For seedless varieties - 20 to 30 t/ha/y </p>

<p>For seeded varieties - 40 to 50 t/ha/y </p> 
            
            <!-- <div class="btn-group">
              <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div> -->
          </div>
        </div>
      </li>

      
      <li >
        <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">  Post Harvest handling </h4>
          </div>
          <div class="timeline-body">
            <p>Harvested grapes are packed in 2 to 4 kg-corrugated boxes. Grape guards, pouches are kept
               inside the boxes for distant markets. Pre-cooling and use of grape guards are the musts 
               for cold storage and export markets.

              <p>Mumbai, Delhi, Calcutta, Ahmedabad, Ludhiana, Patna, Jamshedpur, Bangalore, Hyderabad, are the main market places in the country.</div>
      </li>
<!-- 
      <li class="timeline-inverted">
        <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Storage :</h4>
          </div>
          <div class="timeline-body">
            <p>the harvested grains are sun-dried and storage is conventional.</div>
        </div>
      </li> -->
  </ul>
</div>


<div>
  <%- include('footer'); %>
</div>
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/venobox/venobox.min.js"></script>
  <script src="lib/knob/jquery.knob.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/parallax/parallax.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/nivo-slider/js/jquery.nivo.slider.js" type="text/javascript"></script>
  <script src="lib/appear/jquery.appear.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <script src="javascripts/main.js"></script>
</body>

</html>