<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Lifecycle Jowar</title>
  <link rel = "icon" type = "image/x-icon" href = "/images/icon.png">
  <!-- For apple devices -->
  <link rel = "apple-touch-icon" type = "image/x-icon" href = "/images/icon.png"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/nivo-slider/css/nivo-slider.css" rel="stylesheet">
  <link href="lib/owlcarousel/owl.carousel.css" rel="stylesheet">
  <link href="lib/owlcarousel/owl.transitions.css" rel="stylesheet">
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/venobox/venobox.css" rel="stylesheet">

  <!-- Nivo Slider Theme -->
  <link href="stylesheets/nivo-slider-theme.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <!-- <link href="css/style.css" rel="stylesheet"> -->

  <!--lifecycle ka links-->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="stylesheets/lifecycle.css" rel="stylesheet">

  <!-- Responsive Stylesheet File -->
  <link href="stylesheets/responsive.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: eBusiness
    Theme URL: https://bootstrapmade.com/ebusiness-bootstrap-corporate-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body data-spy="scroll" data-target="#navbar-example">

  <div>
    <%- include('nav'); %>
    </div>

  



<!--Lifecycle of that crop -->
<div class="container">
  <div class="page-header" style="padding-top: 5%">
    
      <h1 id="timeline">JOWAR </h1>
      <a href="https://www.indiaagronet.com/indiaagronet/crop%20info/jower.htm"> Click here for source</a>
      <br> <br>
      <p>The origin and early domestication of sorghum took place in northeastern Africa. The earliest known record of sorghum comes from an archeological dig at Nabta Playa, near the Egyptian-Sudanese border, dated 8,000 B.C.
        Sorghum adapted to a wide range of environments throughout Africa, spreading from the highlands of Ethiopia to the semi-arid Sahel. The crop then spread to India and China and eventually worked its way into Australia.
      <p>  
        In the U.S., the first known record of sorghum comes from Ben Franklin who wrote about its application in producing brooms in 1757. Over the centuries, sorghum has planted its roots in many U.S. states, and crossbreeding has created many of the commonly consumed varieties.
        
        Today, thanks to American farmers, sorghum can be enjoyed in your favorite foods.
  </div>
  <ul class="timeline">

    <li class="timeline-inverted">
      <div class="timeline-badge success"><i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Climate and Soil :         </h4>
        </div>
        <div class="timeline-body">
          <p>Sorghum plants are very hardy and can withstand high temperature and drought.
           It may be successfully grown under atmospheric temperature ranging between 15 0C to 40 0C 
           and annual rainfall ranging from 400 to 1000 mm.
            <p>Sorghum is grown on a variety of soil types but the clayey loam soil rich in humus is
               found to be the most ideal soil. It may tolerate mild acidity to mild salinity under
              pH 5.5 to 8.0. A good sorghum soil must have an efficient drainage facilities though,
               it may withstand water logging more than maize.
            </p>
          </div>
      </div>
    </li>

      <li>
        <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Sowing:</h4>
            <!-- <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p> -->
          </div>
          <div class="timeline-body">
            <p> <strong>a) Sowing time: </strong>Sorghum crop is grown in almost all the seasons of the year. 
              In Northern India conditions it is grown in kharif season but in Southern India the crop is grown 
              during Rabi and summer seasons. Kharif crop should be sown soon after first break of monsoon rains 
              i.e. nearly in last week of June. Therefore, the best sowing time is in last week of June to first
               week of July depending upon onset of monsoon. Whereas rabi jawar is sown in the month of October 
               to November.

            <p> <strong>b) Spacing: </strong>A spacing of 40-45 cm between the rows and 15-20 cm between 
              the plants is quite satisfactory.
              
            <p> <strong>c) Seed rate: </strong> Required plant population may be obtained by using a seed
               rate of 8-12 kg/ha. The seeds are sown about 3-4 cm deep in the furrows.
            </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title"> Seed treatment: </h4>
          </div>
          <div class="timeline-body">
            <p> <strong>  </strong>The seed treatment may be done by Agrosan GN, Thiram at the rate of 
              3g/kg of seed or sulphur at the rate of 5g/kg of seed. 
              The seed is treated, dried and sown in the field.</div>
        </div>
      </li>
      <li>
        <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Application of mannurs and fertilizers:</h4>
          </div>
          <div class="timeline-body">
            <p>Sorghum is an exhaustive crop and it depletes soil fertility very fast, if proper care is not taken. 
              The fertilizer doses differ from type to type and nature of crop to be grown e.g. local varieties 
              need less quantity than hybrid ones. Similarly, irrigated crop requires higher doses than rainfed 
              ones no matter whether it is a local or high yielding variety. Considering all these points an 
              optimum dose may be found out from the following details: an optimum dose of nitrogen for rainfed 
              high yielding and local varieties of irrigated crop should be 60-80kg/ha while for irrigated high 
              yielding varieties it should be between 120-150 kg/ha. In case of heavy soils one single application 
              gives better results than split application but in case of light soils split application i.e. half 
              basal and remaining half as top-dressing at knee-height stage or 30-35 days after sowing is preferred.
               Under low rainfall or in rainfed areas top-dressing of nitrogen is not required. On an average a 
               dose of 40-60 kg P2O5/ha is found to be good. Placement at 4-6 cm depth has given better results.
                However, under normal conditions it is mostly basal placed. Potash at the rate of 
                40kg/ha applied at the time of field preparation gives good result.</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-badge success"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Irrigation:            </h4>
          </div>
          <div class="timeline-body">
            <p>Sorghum is a fairly drought resistant crop and it does very well in areas receiving 50 cm well 
              distributed rainfall but it cannot withstand waterlogging at any stage of crop growth.
               The most critical growth stages for irrigation are knee-height stage, flowering and 
               grain filling stages at which the crop should be ensured for proper moisture conditions 
               so that the crop does not suffer from moisture stress.Contrary to this in kharif crop an
                efficient drainage must be provided as the crop cannot tolerate water accumulation for 
                more than few hours, therefore, in low lying areas sowing of crop on 5-7cm high ridges 
                or sowing in flat beds followed by light earthing is a remedy for stagnant water in the field.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-badge info"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Harvesting  :</h4>
          </div>
          <div class="timeline-body">
            <p>
              The high yielding varieties mature in about 100-120 days duration after which they are 
              harvested. Generally two methods of harvesting i.e. either stalk-cut or cutting of earheads
               by sickles are employed. However, in foreign countries sorghum harvesters are used. In case
                of stock cut method the plants are cut from near the ground level, the stalks are tied into 
                bundles of convenient removed from plants, while in later case the earheads, after their 
                removal from the standing crop, are piled up on the threshing floor and after few days they 
                are threshed. Threshing of earheds is done either by beating them with sticks or by trampling 
                them under bullock’s feet. Later method is quicker and is practiced by majority of farmers who
                 use to grow the crop on larger scale.  
              <hr>
            <!-- <div class="btn-group">
              <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div> -->
          </div>
        </div>
      </li>

      
      <li class="timeline-inverted">
        <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title"> Yield </h4>
          </div>
          <div class="timeline-body">
            <p>The grain yield of improved varieties under assured 
              water supply ranges between 25-35 quintals/ha and that of hay or karvi between 150-170 quintals/ha.</div>
        </div>
      </li>

      <li>
        <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Storage :</h4>
          </div>
          <div class="timeline-body">
            <p>the harvested grains are sun-dried and storage is conventional.</div>
        </div>
      </li>
  </ul>
</div>


  <!-- Start Footer bottom Area -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/venobox/venobox.min.js"></script>
  <script src="lib/knob/jquery.knob.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/parallax/parallax.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/nivo-slider/js/jquery.nivo.slider.js" type="text/javascript"></script>
  <script src="lib/appear/jquery.appear.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <script src="javascripts/main.js"></script>
</body>

</html>