<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Lifecycle maize</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="images/icon.png" rel="icon">
  <link href="images/icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/nivo-slider/css/nivo-slider.css" rel="stylesheet">
  <link href="lib/owlcarousel/owl.carousel.css" rel="stylesheet">
  <link href="lib/owlcarousel/owl.transitions.css" rel="stylesheet">
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/venobox/venobox.css" rel="stylesheet">

  <!-- Nivo Slider Theme -->
  <link href="stylesheets/nivo-slider-theme.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <!-- <link href="css/style.css" rel="stylesheet"> -->

  <!--lifecycle ka links-->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="stylesheets/lifecycle.css" rel="stylesheet">

  <!-- Responsive Stylesheet File -->
  <link href="stylesheets/responsive.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: eBusiness
    Theme URL: https://bootstrapmade.com/ebusiness-bootstrap-corporate-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body data-spy="scroll" data-target="#navbar-example">
  <div>
    <%- include('nav'); %>
    </div>
  


  <div>
    <img src="images/lifecycle/maize.jpg" width="100%" height="300px">
  </div>
<!--Lifecycle othat crop -->
<div class="container" >
  <div class="page-header" style="padding-top:10px ; ">
    
      <h1 id="timeline">Maize </h1>
      <a href="https://www.indiaagronet.com/indiaagronet/crop%20info/maize.htm"> Click here for source</a>
      <br> <br>
      <p>Maize (Zea mays L.) is one of the most versatile emerging crop shaving wider adaptability 
        under varied agro-climatic conditions.Globally, maize is known as queen of cereals because 
        it has the highest genetic yield potential among the cereals. Maize in India is an important 
        cereal, and both its area and production have steadily increased during the past two decades. In 
        terms of area and production, it ranks only next to rice, wheat, jowar.The use of maize in animal
         feed, particularly for poultry, and in the starch industry is increasing. Green maize plants also
          furnish a very succulent fodder during spring and monsoon, particularly in northern India.
      </div>
  
  <ul class="timeline">

    <li >
      <div class="timeline-badge success"><i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Climate and Soil :         </h4>
        </div>
        <div class="timeline-body">
          <p> <strong>Climate :</strong>
           <p> Most of the maize varieties grown in India are relatively early in maturity (80-95 days); 
             hence to sustain the rapid rate of growth, an adequate supply of soil moisture is essential. It has
              been estimated that the maize crop requires about 50 per cent of the total water requirement in a 
              short period of 30-35 days after tasselling. 
             A lack of adequate moisture during the grain filling stage adversely affects yield
<br>
            
            <br>
            <p> <strong>Soil :</strong> 
            <p>  Maize requires fertile, deep and well drained soils. However, it can be grown on any 
              type of soil, ranging from deep heavy clays to light sandy ones. It is, however, necessary
              t the pH of the soil does not deviate from the range 7.5 to 8.5 Maize plants, particularly in 
              the seedling stage, are highly susceptible to salinity and water . Hence, 
                soils ideally suited for maize cultivation should have adequate water holding capacity and should
                 also provide for good drainage</p> 
          </div>
      </div>
    </li>

      <li class="timeline-inverted">
        <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title"> Land preparation:
            </h4>
            <!-- <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p> -->
          </div>
          <div class="timeline-body">
            <p> <strong></strong>
              <p>A good seedbed for maize should be fine but compact, and free from weeds. It is desirable
                 that the previous crop refuse is buried under with a mouldboard plough. In due course, two
                  or three ploughings with the wooden plough are given. In case the tractor is used, one 
                  ploughing followed by a couple of diskings is generally adequate.

                
            <p><strong> </strong></p>
            <p>For kharif cultivation, it is essential that adequate drainage is provided. It may be 
              provided in the form of very shallow surface drains at 40-50 m apart (depending on the slope 
              and the texture of the soil) across the slope and connected to main outlet. Shallow drains do
               not obstruct the movement of the cattle or tractors during cultivation. Surface drains should
                be provided during sowing.</p>
          </p>
            </div>
        </div>
      </li>

      <li >
        <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">  Sowing  </h4>
          </div>
          <div class="timeline-body">
            <p> 
              There are three distinct seasons for the cultivation of maize: the main season is kharif; whereas 
              its cultivation during Rabi in Peninsular India and Bihar and in spring in northern India is done. 
              Higher yields have been recorded in the Rabi and spring crops. The higher 
              yields are primarily due to better water management and the lower incidence of disease and pests.
              Sowing made a week tomten days before the usual break of monsoon, with initial one or two irrigations, provide a better chance 
              for the establishment of plants, and yield increases of 15-20 per cent have also been recorded.
Maize is sown in rows, 60-75 cm apart, whereas the plants in the row are spaced at 20 to 25 cm.              
            </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title"> Application of Manures and Fertilizers:
            </h4>
          </div>
          <div class="timeline-body">
            <p>For obtaining high yield, the maize crop should be heavily manured. Twenty five to thirty cartloads
               of farmyard manure or compost should be ploughed into the soil before the sowing. For hybrid and 
               composite varieties of maize, 100-120 kg of nitrogen, along with 60 kg of P2O5 and 40 kg of K2O per hectare, is recommended. The precise 
              level of application of phosphorus and potash should be modified in the background of soil analysis.</div>
        </div>
      </li>
      
      <li >
        <div class="timeline-badge success"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">  Irrigation:</h4>
          </div>
          <div class="timeline-body">
            <p>
              In regions with about 60 cm of well distributed rainfall during the growing season, any 
              additional irrigation is not necessary. Inadequate soil moisture during flowering and poet
               flowering particularly during the grain filling period will markedly reduce the yield. 
               During the grain filling period- the most susceptible stage, additional irrigation if 
               needed, should be applied. The total number of irrigations will depend on the rainfall 
               distribution pattern. The spring and rabi crops are entirely raised under irrigation; the 
               number of irrigations may, however, vary from 5-10 depending type of the soil and the 
               prevailing temperatures.  
            </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-badge info"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title"> Harvesting  </h4>
          </div>
          <div class="timeline-body">
            <p>
              The maize crop sown for grain is harvested when the grains are nearly dry and do not 
              contain more than 20 per cent moisture. The appearance of the plant may be misleading, 
              particularly in the case of high yielding hybrids and composites whose grains are dry, 
              while the stalk and leaves may be still green. Ears are removed from the standing crop.
               Harvested ears are dried in the sun before shelling. In the case of the late-sown crop, 
               farmers prefer to harvest the whole plants and pile them, and the ears are removed are 
               removed later.</p>


            
            <!-- <div class="btn-group">
              <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div> -->
          </div>
        </div>
      </li>

      
      
<!-- 
      <li class="timeline-inverted">
        <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Storage :</h4>
          </div>
          <div class="timeline-body">
            <p>the harvested grains are sun-dried and storage is conventional.</div>
        </div>
      </li> -->
  </ul>
</div>


  <!-- Start Footer bottom Area -->
  <div>
    <%- include('footer'); %>
  </div>
  
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/venobox/venobox.min.js"></script>
  <script src="lib/knob/jquery.knob.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/parallax/parallax.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/nivo-slider/js/jquery.nivo.slider.js" type="text/javascript"></script>
  <script src="lib/appear/jquery.appear.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <script src="javascripts/main.js"></script>
</body>

</html>