<!DOCTYPE html>
<html lang="en">
<head>
  <title>eKheti</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
  <link rel="stylesheet" href="stylesheets/navbar.css">
<style>
nav {position: fixed;}
</style>
</head>
<body>

<!-- Navigation bar   -->
<nav class="navbar sticky-top navbar-inverse" >
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <div></div>
      <a class="navbar-brand" href="/">e<span>Kheti</span></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/">Home</a></li>
        <%if(login == "true"){%>
          <li><a href="/cropSuggestion">Crop Suggest</a></li>
        <%}%>
                
        
          <li><a href="/articles">Articles</a></li>
        
        <li class="dropdown">
          <%if(login=="false"){%>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Log in<span class="caret"></span></a>
            <%}else {%>
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <%=name%><span class="caret"></span></a>
              <%}%>
            <ul class="dropdown-menu">
            <%if(login=="false"){%>
              <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li><a href="#">Page 1-3</a></li>
              <!-- <li><a href="http://free-website-translation.com/" id="ftwtranslation_button" hreflang="en" title="" style="border:0;"><img src="http://free-website-translation.com/img/fwt_button_en.gif" id="ftwtranslation_image" alt="FWT Homepage Translator" style="border:0;"/></a> <script type="text/javascript" src="http://free-website-translation.com/scripts/fwt.js" /></script></li> -->
            <%}else {%>
               <li><a> <%=name%> </a></li>
               <li><a href="/logout"class="glyphicon glyphicon-log-out" > Logout </a></li>
            <%}%>
            </ul>
          </li>
      </ul>
    </div>
  </div>
</nav>
</body>
</html>