<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Lifecycle Oilseeds</title>
  <link rel = "icon" type = "image/x-icon" href = "/images/icon.png">
  <!-- For apple devices -->
  <link rel = "apple-touch-icon" type = "image/x-icon" href = "/images/icon.png"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/nivo-slider/css/nivo-slider.css" rel="stylesheet">
  <link href="lib/owlcarousel/owl.carousel.css" rel="stylesheet">
  <link href="lib/owlcarousel/owl.transitions.css" rel="stylesheet">
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/venobox/venobox.css" rel="stylesheet">

  <!-- Nivo Slider Theme -->
  <link href="stylesheets/nivo-slider-theme.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <!-- <link href="css/style.css" rel="stylesheet"> -->

  <!--lifecycle ka links-->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="stylesheets/lifecycle.css" rel="stylesheet">

  <!-- Responsive Stylesheet File -->
  <link href="stylesheets/responsive.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: eBusiness
    Theme URL: https://bootstrapmade.com/ebusiness-bootstrap-corporate-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body data-spy="scroll" data-target="#navbar-example">

  <div>
    <%- include('nav'); %>
    </div>


  
<!-- Select the crop-->



<!--Lifecycle othat crop -->
<div class="container">
  <div class="page-header" style="padding-top: 5%">
    
      <h1 id="timeline">Oilseeds Sunflower </h1>
      <a href="https://www.1800flowers.com/blog/flower-facts/life-cycle-of-sunflowers/"> Click here for source</a>
      <br> <br>
      <p>Wheat (Triticum spp.) occupies the prime position among the food crops in the world. In India, it
         is the second important food crop being next to rice and contributes to the total foodgrain 
         production of the country to the extent of about 25%. Wheat has played a very vital role in 
         stabilizing the foodgrain production in the country over the past few years.

      <p>The origin of the durum wheats was probably in the region of Abyssinia, whereas the whole group of 
        soft wheat, which includes the bread wheats, probably originated in the region of Pakistan, 
        SouthWestern and the Southern parts of mountainous Bokhara.
  </div>
  <ul class="timeline">

    <li >
      <div class="timeline-badge success"><i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Climate and Soil :         </h4>
        </div>
        <div class="timeline-body">
          <p> <strong></strong>
            The ideal temperature requirement varies from plant type and stages of growth.
            The dwarf varieties require the following temperature for their growth and development:
            <br>
            <br>
            <table class="table" style="text-align: center;">
              <thead ">
                <tr>
                <th style="text-align: center;">Growth stages</th>
                <th style="text-align: center;">Temperature requirement</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Germination	</td>
                <td>20 to 25 0 C mean daily temperature</td>
              </tr>
              <tr>
                <td>Tillering	</td>
                <td>16 to 20 0 C mean daily temperature</td>
              </tr>
              <tr>
                <td>Accelerated growth	
                  	</td>
                <td>20 to 23 0 C mean daily temperature</td>
              </tr>
              <tr>
                <td>Proper grain filling</td>
                <td>23 to 25 0 C mean daily temperature.</td>
              </tr>
            </tbody>
            </table>
            <br>
            <p> <strong>Soil</strong>
              The wheat crop requires a well-pulverized but compact seed bed for good and uniform 
              germination. Three or four ploughings in the summer, repeated harrowing in the rainy 
              season, followed by three or four cultivations and planking immediately before sowing 
              produce a good, firm seed bed for the dry crop on alluvial soils. For the irrigated crop, 
              the land is given a pre-sowing irrigation (palewa or raund) and the number of ploughings is 
              reduced.
            </p> 
          </div>
      </div>
    </li>

      <li class="timeline-inverted">
        <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title"> Sowing Time</h4>
            <!-- <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p> -->
          </div>
          <div class="timeline-body">
            <p> <strong></strong>
              <p>Based on above temperature requirement it has been found that for indigenous wheat last
                 week of October, for long duration dwarf varieties like Kalyansona, Arjun, etc. first 
                 fortnight of November and for short duration dwarf wheats like Sonalika, Raj 821 etc. 
                 second fortnight is the best sowing time. Under exceptionally late sown condition it may
                  be delayed to latest by 1st week of December beyond which if area is very small 
                  transplanting may be practiced.</p>

            <p><strong> </strong></p>
            <p>For irrigated, timely sown wheat, a row spacing of 15 to 22.5 cm is followed, but 22.5 cm
               between the rows is considered to be the optimum spacing. Under irrigated late-sown 
               conditions, a row spacing of 15-18 cm is the optimum. For dwarf wheats, the planting depth 
               should be between 5 and 6 cm.</p>
            </div>
        </div>
      </li>

      <li >
        <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">  Seed Rate  </h4>
          </div>
          <div class="timeline-body">
            <p> 
              Generally, a seed rate of 100 kg/ha has been found to be sufficient for most of the 
              varieties like Kalyan Sona, Arjun, Janak, etc.which have moderate tillering and medium 
              sized grains. But a higher seed rate of 125 kg/ha is desirable for late sown wheat and 
              normal sown for varieties like Sonalika, Raj 821 etc. which have bold grains and shy 
              tillering habits.            
              
            </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title"> c) Spacing :</h4>
          </div>
          <div class="timeline-body">
            <p>For irrigated, timely sown wheat, a row spacing of 15 to 22.5 cm is followed, but 22.5 cm
              between the rows is considered to be the optimum spacing. Under irrigated late-sown 
              conditions, a row spacing of 15-18 cm is the optimum. For dwarf wheats, the planting depth 
              should be between 5 and 6 cm.</div>
        </div>
      </li>
      
      <li >
        <div class="timeline-badge success"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title"> Harvesting:</h4>
          </div>
          <div class="timeline-body">
            <p>
              The rain-fed crop reaches the harvest stage much earlier than the irrigated crop. The crop
               is harvested when the grains become hard and the straw becomes dry and brittle.The harvesting
                is mostly done by sickle. The crop is threshed by treading with cattle on the threshing-flour or
               by power driven thresher.
            </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-badge info"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Yield</h4>
          </div>
          <div class="timeline-body">
            <p>
              The national average yield of wheat grain is about 12 to 13.8 quintals per hectare. </p>


            
            <!-- <div class="btn-group">
              <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div> -->
          </div>
        </div>
      </li>

      
      <li >
        <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">  Storage:  </h4>
          </div>
          <div class="timeline-body">
            <p>The grains should be thoroughly dried before storage. The storage life of the grain is closely 
              related to its moisture content. Grains with less than 10 percent moisture store well. The storage 
              , bins or godowns should be moisture-proof and should be fumigated to keep down the stored – grain 
              pests including rats. Zinc phosphide is very effective against rats.

            </div>
      </li>
<!-- 
      <li class="timeline-inverted">
        <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Storage :</h4>
          </div>
          <div class="timeline-body">
            <p>the harvested grains are sun-dried and storage is conventional.</div>
        </div>
      </li> -->
  </ul>
</div>


<div>
  <%- include('footer'); %>
</div>
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/venobox/venobox.min.js"></script>
  <script src="lib/knob/jquery.knob.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/parallax/parallax.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/nivo-slider/js/jquery.nivo.slider.js" type="text/javascript"></script>
  <script src="lib/appear/jquery.appear.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <script src="javascripts/main.js"></script>
</body>

</html>