<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Lifecycle Pulses - Pigeonpea</title>
  <link rel = "icon" type = "image/x-icon" href = "/images/icon.png">
  <!-- For apple devices -->
  <link rel = "apple-touch-icon" type = "image/x-icon" href = "/images/icon.png"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/nivo-slider/css/nivo-slider.css" rel="stylesheet">
  <link href="lib/owlcarousel/owl.carousel.css" rel="stylesheet">
  <link href="lib/owlcarousel/owl.transitions.css" rel="stylesheet">
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/venobox/venobox.css" rel="stylesheet">

  <!-- Nivo Slider Theme -->
  <link href="stylesheets/nivo-slider-theme.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <!-- <link href="css/style.css" rel="stylesheet"> -->

  <!--lifecycle ka links-->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="stylesheets/lifecycle.css" rel="stylesheet">

  <!-- Responsive Stylesheet File -->
  <link href="stylesheets/responsive.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: eBusiness
    Theme URL: https://bootstrapmade.com/ebusiness-bootstrap-corporate-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body data-spy="scroll" data-target="#navbar-example">

    <div>
        <%- include('nav'); %>
        </div>


<!-- Select the crop-->



<!--Lifecycle othat crop -->
<div class="container">
  <div class="page-header" style="padding-top: 5%">
    
      <h1 id="timeline">Pulses Pigeonpea</h1>
      <a href="https://www.indiaagronet.com/indiaagronet/new%20product/Contents/Red-Gram-Pigeonpea-Cultivation-Guide.html"> Click here for source</a>
      <br> <br>
      <p>Pigeonpea (Cajanus cajan (L.) Millsp.), commonly known as red gram or tur or Arhar, is a very old crop of this country. After gram, arhar is the second most important pulse crop in the country. It is mainly eaten in the form of split pulse as ‘dal’. Seeds of arhar are also rich in iron, iodine, essential amino acids like lycine, threonine, cystine and arginine etc.

        More than 80% of tur production comes from 6 states of Maharashtra, MP, Karnataka, UP, Gujarat and Jharkhand.
        
  </div>
  <ul class="timeline">

    <li >
      <div class="timeline-badge success"><i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Climate and Soil :         </h4>
        </div>
        <div class="timeline-body">
          <p> <strong>Climate  :</strong>
          <p>1. Pigeonpea is predominantly a crop of tropical areas mainly cultivated in semi-arid regions of India.
<br>
2. Pigeonpea can be grown between 14°N and 28°N latitude, with a temperature ranging from 26° to 30°C in the rainy season and 17° to 22°C in the post rainy season.
<br>
3. The amount of daily global solar radiation varies from 400 to 430 cal cm day in the rainy season and 380-430 cal cm-2 day-1 in the postrainy season.
<br>
4. Mean annual rainfall ranges from 600 to 1400 mm, of which 80%-90% is received in the rainy season.<br>

5. The length of growing season extends from 120 to 180 days. 
            <br>
            
            <br>
            <p> <strong>Soil</strong><br>
              1. In India, pigeonpea is cultivated on Entisols, Alfisols, Enceptisols, and Vertisols.<br>

2. The Entisols found in the alluvial- soil belt of the Indo-Gangetic region are deep loams, slightly alkaline (pH 7.5-8.5), with about 150-200 mm available water storage capacity in 2 m of soil.
<br>
3. The Vertisols are characterized by 40-60% clay in the surface soil horizons, pH around 8.0 with a water holding capacity between 150-300 mm, and the available water in the top 1.5-2.0 m of soil.
<br>  
4. Alfisols are neutral in reaction (pH 6.5-7.0) and relatively shallow with low-clay content. <br>
            </p> 
          </div>
      </div>
    </li>

      <li class="timeline-inverted">
        <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title"> Land preparation:</h4>
            <!-- <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p> -->
          </div>
          <div class="timeline-body">
            <p> <strong></strong>
              <p>1. Good land preparations are necessary for better yield of red gram.<br>

                2. Land should be ploughed in summer followed by two to three harrowing at pre-monsoon for kharif season.
                <br>
                3. Land should be well leveled.
                <br>
                4. Collect the weeds, previous crops stubbles, stones and clean the field for sowing.
                <br>
                5. Mix five to six tons of FYM or compost at last harvesting.
                <br>
            </div>
        </div>
      </li>

      <li >
        <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title"> Method of Sowing </h4>
          </div>
          <div class="timeline-body">
            <p> 
              Sowing should be done in line sowing\drilling method with tractor drawn ferti-cum-seed drill or by bullock drawn ferti-cum-seed drill/tifan.
Seed can be sown in dibbling method with hand dibbler to maintain optimum plant stand and higher productivity.
Ferti-cum-seed drill should be used for the application of fertilizers and seed sowing at a time.
Seeds should not be sown more than 5 to 6 cm in depth.
            </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Time of sowing:</h4>
          </div>
          <div class="timeline-body">
            <p>1. In the rainfed and dry areas pigeon pea are sown with the onset of the monsoon.

              2. Earlier sowing gives higher yields in India.
              
              3. When sowing extra - early and early - maturing varieties in the 1st fortnight of June , the field is available for post rainy season crops by the end of November. Therefore , sowing should not be delayed beyond June.
              </div>
        </div>
      </li>
      
      <li >
        <div class="timeline-badge success"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title"> Seed rate and spacing</h4>
          </div>
          <div class="timeline-body">
            <p>
              1. Seed should be own behind the plough or with the help of seed drill at a row spacing of 60-75 cm keeping 15-20 cm distance from plant to plant.

2. A seed rate of 12-15 kg per hectare is sufficient.

3. In mixed cropping seed rate is adjusted according to the proportion of arhar and companion crops to be grown.

            </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-badge info"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title"> Irrigation management:
</h4>
          </div>
          <div class="timeline-body">
            <p>
              
              1. Red Gram requires 35-40 cm water, during its entire growth period.
              
              2. Optimum moisture is necessary during (a) budding (b) flowering and (c) pod formation stages.
              
              3. As red gram is a rainfed crop grown in assured rainfall areas, usually it does not require any irrigation. If there is water stress, protective irrigation may be given in alternate rows at these 3 stages. 

            
            <!-- <div class="btn-group">
              <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div> -->
          </div>
        </div>
      </li>

      
      <li >
        <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">  Signs of maturity, harvesting & threshing </h4>
          </div>
          <div class="timeline-body">
            <p>Pods and plant dried, Grains become hard, and moisture percent in grain at harvesting should be 20-22 %. Pod shattering is common problem in pulse. Harvest the whole plants with sickle when 80% of the pods mature. The pods or whole crop after complete drying should be threshed manually or by machine.
              
            </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Yield:
              </h4>
          </div>
          <div class="timeline-body">
            <p>15-20 quintal/ ha as rainfed intercrop and 25-30 quintal/ha as irrigated monocrop can be obtained. Very early and early varieties yield 20-30 % less.</div>
        </div>
      </li>
  </ul>
</div>


<div>
  <%- include('footer'); %>
</div>
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/venobox/venobox.min.js"></script>
  <script src="lib/knob/jquery.knob.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/parallax/parallax.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/nivo-slider/js/jquery.nivo.slider.js" type="text/javascript"></script>
  <script src="lib/appear/jquery.appear.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <script src="javascripts/main.js"></script>
</body>

</html>