<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Lifecycle Sugarcane</title>
  <link rel = "icon" type = "image/x-icon" href = "/images/icon.png">
  <!-- For apple devices -->
  <link rel = "apple-touch-icon" type = "image/x-icon" href = "/images/icon.png"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/nivo-slider/css/nivo-slider.css" rel="stylesheet">
  <link href="lib/owlcarousel/owl.carousel.css" rel="stylesheet">
  <link href="lib/owlcarousel/owl.transitions.css" rel="stylesheet">
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/venobox/venobox.css" rel="stylesheet">

  <!-- Nivo Slider Theme -->
  <link href="stylesheets/nivo-slider-theme.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <!-- <link href="css/style.css" rel="stylesheet"> -->

  <!--lifecycle ka links-->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="stylesheets/lifecycle.css" rel="stylesheet">

  <!-- Responsive Stylesheet File -->
  <link href="stylesheets/responsive.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: eBusiness
    Theme URL: https://bootstrapmade.com/ebusiness-bootstrap-corporate-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body data-spy="scroll" data-target="#navbar-example">

    <div>
        <%- include('nav'); %>
        </div>

  <header>
    <!-- header-area start -->
    <div id="sticker" class="header-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">

            <!-- Navigation -->
            
            <!-- END: Navigation -->
          </div>
        </div>
      </div>
    </div>
    <!-- header-area end -->
  </header>
  <!-- header end -->
<!-- Select the crop-->



<!--Lifecycle othat crop -->
<div class="container">
  <div class="page-header" style="padding-top: 5%">
    
      <h1 id="timeline"> Sugarcane </h1>
      <a href="https://homesteady.com/12419458/the-life-cycle-of-a-sugarcane-plant"> Click here for source</a>
      <br> <br>
      <p>
        Sugarcane, or Saccharum officinarum, is a tropical grass that is the source of about 75 percent 
        of the world’s sugar supply. It has a long life cycle, requiring warm weather and heavy rainfall
         or irrigation throughout its growing season.
          </div>
  <ul class="timeline">

    <li >
      <div class="timeline-badge success"><i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Climate and Soil :         </h4>
        </div>
        <div class="timeline-body">
          <p> <strong></strong>
            The ideal temperature requirement varies from plant type and stages of growth.
            The dwarf varieties require the following temperature for their growth and development:
            <br>
            <br>
            <table class="table" style="text-align: center;">
              <thead ">
                <tr>
                <th style="text-align: center;">Growth stages</th>
                <th style="text-align: center;">Temperature requirement</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Germination	</td>
                <td>20 to 25 0 C mean daily temperature</td>
              </tr>
              <tr>
                <td>Tillering	</td>
                <td>16 to 20 0 C mean daily temperature</td>
              </tr>
              <tr>
                <td>Accelerated growth	
                  	</td>
                <td>20 to 23 0 C mean daily temperature</td>
              </tr>
              <tr>
                <td>Proper grain filling</td>
                <td>23 to 25 0 C mean daily temperature.</td>
              </tr>
            </tbody>
            </table>
            <br>
            <p> <strong>Soil</strong>
              The wheat crop requires a well-pulverized but compact seed bed for good and uniform 
              germination. Three or four ploughings in the summer, repeated harrowing in the rainy 
              season, followed by three or four cultivations and planking immediately before sowing 
              produce a good, firm seed bed for the dry crop on alluvial soils. For the irrigated crop, 
              the land is given a pre-sowing irrigation (palewa or raund) and the number of ploughings is 
              reduced.
            </p> 
          </div>
      </div>
    </li>

      <li class="timeline-inverted">
        <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title"> Planting</h4>
            <!-- <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p> -->
          </div>
          <div class="timeline-body">
            <p> <strong></strong>
              <p>Sugarcane is usually planted from 12-inch pieces of stems of existing plants, although some growers begin with seeds. The grower digs furrows, inserts the cut stems and then covers them with a small amount of soil. For large-scale growing situations, machinery is available that cuts and plants the stems or canes.
            </div>
        </div>
      </li>

      <li >
        <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">  Growth Period  </h4>
          </div>
          <div class="timeline-body">
            <p> 
              During the nine to 24 months sugarcane takes to grow to maturity, it needs a large quantity of water. Sugarcane needs up to 60 inches of rain or irrigation while it is actively growing, but it later needs no rain or irrigation during its ripening phase. It also needs full sun.          
              
            </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title"> Seed Formation  </h4>
          </div>
          <div class="timeline-body">
            <p>
              Eight to 12 months after planting the sugarcane, the plant reaches about 15 feet in height. It then sends up tall flower stalks, which contain many seeds. At this time in its life cycle, the sugarcane plant has a high content of sucrose.
            </div>
        </div>
      </li>
      
      <li >
        <div class="timeline-badge success"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title"> Harvest</h4>
          </div>
          <div class="timeline-body">
            <p>
              Sugarcane fields used to be burned to eliminate leaves and weeds. Now, harvesting machinery travels through the rows, removing unwanted weeds and leaves. Harvest typically occurs between June and December, which is a dry period for many tropical locales.
              
            </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-badge info"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Grand Growth Phase</h4>
          </div>
          <div class="timeline-body">
            <p>
              This stage lasts for 5 to 8 months. Sugarcane plants normally vegetate at this stage, if properly supplied with heat and moisture. 
              <ul style="font-size: 17px;" type = "disc">
              <li>Grand growth phase starts from 120 days after planting and lasts up to 270 days in a 12-month crop. During the early period of this phase tiller stabilization takes place. Out of the total tillers produced only 40-50% survives by 150 days to form millable cane.
              </li>
              <li>Most important phase of the crop wherein the actual cane formation and elongation and thus yield build up takes place.</li>
              <li>Leaf production is frequent and rapid during this phase with LAI reaching around 6-7.</li>
              <li>  Under favourable conditions stalks grow rapidly almost 4-5 internodes per month.</li>
            </ul>
            <!-- <div class="btn-group">
              <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div> -->
          </div>
        </div>
      </li>

      
      <li >
        <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">  Maturation and Ripening  </h4>
          </div>
          <div class="timeline-body">
            <p>
              <ul style="font-size: 17px;" type="disc">
                <li>This phase lasts for about three months.</li>
             <li>Its maturation is determined by a definite sucrose level in the stems (up to 14-16% stem mass) and a low level of reducing sugars.</li>
            <li>The commercial ripening of stems can be identified quite reliably by the ratio of refractometry indices of juice taken from the seventh-eighth internodes and lower (0.95-0.98). In tropics, by harvesting time the sugarcane stems accumulate on the average up to 14-16% sugar; in subtropics 8-12% sugar.</li>  
            </ul>
               
            </div>
      </li>
<!-- 
      <li class="timeline-inverted">
        <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Storage :</h4>
          </div>
          <div class="timeline-body">
            <p>the harvested grains are sun-dried and storage is conventional.</div>
        </div>
      </li> -->
  </ul>
</div>


  <!-- Start Footer bottom Area -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/venobox/venobox.min.js"></script>
  <script src="lib/knob/jquery.knob.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/parallax/parallax.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/nivo-slider/js/jquery.nivo.slider.js" type="text/javascript"></script>
  <script src="lib/appear/jquery.appear.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <script src="javascripts/main.js"></script>
</body>

</html>