<html>
    
<nav class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-example-navbar-collapse-1" aria-expanded="false">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                          </button>
      <!-- Brand -->
      <a class="navbar-brand page-scroll sticky-logo" href="/">
        <h1><span>e</span>KHETI</h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <img src="img/logo.png" alt="" title=""> -->
                      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1" id="navbar-example">
      <ul class="nav navbar-nav navbar-right">
        <li class="active">
          <a class="page-scroll" href="#home">Home</a>
        </li>
        <li>
          <a class="page-scroll" href="#about">About</a>
        </li>
        <li>
          <a class="page-scroll" href="#services">Services</a>
        </li>
        <li>
          <a class="page-scroll" href="#weather">Weather</a>
        </li>
        <li>
          <a class="page-scroll" href="#articles">Articles</a>
        </li>
        <li>
          <a class="page-scroll" href="#contact">Health Card</a>
        </li>
        <li>
          <a class="page-scroll" href="#team">Team</a>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Log in
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/login">Log in</a></li>
            <li><a href="Signup.html">Register </a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Translate
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="active"><a href="#" >English</a></li>
            <li><a href="#">Marathi </a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- navbar-collapse -->
  </nav>
  </html>